// Define variables for your color scheme

// For example:
$red: #C9191E;
$blue: #4EADBF;
$yellow: #FDB631;
$orange: #E67E22;
$purple: #D555CB;
$green: #32B796;
$dark-green: #076940;
$gray: #181818;
$light-gray: #F4F4F4;
$medium-gray: #B0B0B0;
